
<html>
<h1 style="margin-top: 0; position: center; ">Welcome to Haochen's survey</h1>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
<body>
{% if question_list %}
	<ul style="font-family: Arial; font-size: 22px">
	{% for question in question_list %}
		<li><a href="{% url 'polls:detail' question.id%}" style="color: green">{{question.question_text}}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls available.</p>
{% endif %}</body>
</html>